nav {
    width: 100%;
    background-color: #1b1c1c;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: monospace;
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    color: #165e44;
}

nav>ul {
    margin: 0;
    color: #165e44;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav>ul>li {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

nav>ul>li:hover {
    background-color: black;
}

#mainWrapper {
    display: flex;
    width: 100%;
}

section {
    width: 40%;
}

aside {
    width: 60%;
    font-weight: 100;
    padding: 10px;
}

article {
    height: 50vh;
    overflow-y: auto;
}

section>article {
    overflow-y: auto;
}

table {
    display: block;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    justify-content: flex-start;
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    margin: 5px;
}



.fullSizeOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    transition: 0.2s;
}

.thumbnail {
    width: 23%;
    transition: 0.2s;

}

.mainInsert {
    height: 500px;
    width: 700px;
    text-align: center;
}

.inputInsert {
    background-color: black;
    color: #165e44;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: #165e44;
    font-family: monospace;
}

.inputInsert:focus {
    outline: none;
}

#inpSearch {
    width: 99%;
    height: 75px;
    font-size: 70px;
}

.inputUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inputUL>li {
    margin: 3px;
    padding: 10px;
    text-align: center;
    width: 100px;
    font-size: 20px;
    background-color: #1b1c1c;
    border-radius: 2px;
    overflow: hidden;
}

.inputForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addInput {
    background-color: black;
    color: #165e44;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: #165e44;
    font-family: monospace;
    height: 30px;
    font-size: 28px;
    width: 300px;
    margin: 10px;
    padding: 5px;
}

#btnSubmit {
    height: 50px;
    font-size: 28px;
    width: 310px;
    border-style: inherit;
    border-radius: 5px;
    background-color: #1b1c1c;
}

#insertWrapper {
    display: none;
    margin: 0;
    background-color: black;
    color: #165e44;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: monospace;
    width: 100%;
}