nav {
    width: 100%;
    background-color: #1b1c1c;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: monospace;
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    color: #165e44;
}

nav>ul {
    margin: 0;
    color: #165e44;
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    padding: 0;
}

nav>ul>li {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

nav>ul>li:hover {
    background-color: black;
}

main {
    display: flex;
    width: 100%;
}

section {
    width: 40%;
}

aside {
    width: 60%;
    font-weight: 100;
    padding: 10px;
}

article {
    height: 50vh;
    overflow-y: auto;
}

section > article {
    overflow-y: auto;
}

table {
    display: block;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    justify-content: flex-start;
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    margin: 5px;
}



.fullSizeOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    transition: 0.2s;
}

.thumbnail {
    width: 23%;
    transition: 0.2s;
    
}