body {
    margin: 0;
    background-color: black;
    color: #165e44;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
}

main{
    height: 500px;
    width: 700px;

}

input {
    background-color: black;
    color: #165e44;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: #165e44;
    font-family: monospace;
}

input:focus {
    outline: none;
}

#inpSearch {
    width: 99%;
    height: 75px;
    font-size: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
li {    
    margin: 3px;
    padding: 10px;
    text-align: center;   
    width: 100px;
    font-size: 20px;
    background-color: #1b1c1c;
    border-radius: 2px;
    overflow: hidden;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addInput {
    height: 30px;
    font-size: 28px;
    width: 300px;
    margin: 10px;
    padding: 5px;
}

#btnSubmit {
    height: 50px;
    font-size: 28px;
    width: 310px;
    border-style: inherit;
    border-radius: 5px;
    background-color: #1b1c1c;

}
